In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('max_columns', 50)
%matplotlib inline

In [61]:
# create a Series with an arbitrary list

s=pd.Series([7,1.20,'akshay',"Hello World",-0.4353,'Test Panda'])
s

0              7
1            1.2
2         akshay
3    Hello World
4        -0.4353
5     Test Panda
dtype: object

In [62]:
#Alternatively, you can specify an index to use when creating the Series

s=pd.Series([7,1.20,'akshay',"Hello World",-0.4353,'Test Panda'],index=['A','B','C','D','E','F'])
print(s)

A              7
B            1.2
C         akshay
D    Hello World
E        -0.4353
F     Test Panda
dtype: object

In [63]:
#Dictionary to Series
dict={'Name':'Akshay','Age':23,'Place':'Indore','Name':'Aayush'}
series=pd.Series(dict)
print(series)
print('-----------------------')
#for single name
series['Name']
print('-----------------------')
#for multiple name
series[['Name','Age']]
#for boolean experssion
#series[series<20]

Age          23
Name     Aayush
Place    Indore
dtype: object
-----------------------
-----------------------

Name    Aayush
Age         23
dtype: object

In [64]:
#Dictionary to Series

In [65]:
d = {'Chicago': 1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100,
     'Austin': 450, 'Boston': None}
cities = pd.Series(d)
print(cities)

Austin            450.0
Boston              NaN
Chicago          1000.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
dtype: float64

In [66]:
cities['Chicago']

1000.0

In [67]:
cities[['Chicago', 'Portland', 'San Francisco']]

Chicago          1000.0
Portland          900.0
San Francisco    1100.0
dtype: float64

In [68]:
cities[cities < 1000]

Austin      450.0
Portland    900.0
dtype: float64

In [69]:
less_than_1000 = cities < 1000
print(less_than_1000)
print('\n')
print(cities[less_than_1000])

Austin            True
Boston           False
Chicago          False
New York         False
Portland          True
San Francisco    False
dtype: bool


Austin      450.0
Portland    900.0
dtype: float64

In [70]:
#changing the value of series based on index
print("Old Value: ",cities['Chicago'])
cities['Chicago']=1400
print("New Value: ",cities['Chicago'])

Old Value:  1000.0
New Value:  1400.0

In [71]:
#changing value using boolean logic
print(cities[cities<1000])
print('\n')
cities[cities<1000]=750
print(cities[cities<1000])

Austin      450.0
Portland    900.0
dtype: float64


Austin      750.0
Portland    750.0
dtype: float64

In [72]:
#To check item in series or not
print('Indore' in cities)
print('Chicago' in cities)

False
True

In [73]:
#mathematical operations
cities/3

Austin           250.000000
Boston                  NaN
Chicago          466.666667
New York         433.333333
Portland         250.000000
San Francisco    366.666667
dtype: float64

In [74]:
#square cities values
np.square(cities)

Austin            562500.0
Boston                 NaN
Chicago          1960000.0
New York         1690000.0
Portland          562500.0
San Francisco    1210000.0
dtype: float64

In [75]:
print(cities[['Chicago', 'New York', 'Portland']])
print('\n')
print(cities[['Austin', 'New York']])
print('\n')
print(cities[['Chicago', 'New York', 'Portland']] + cities[['Austin', 'New York']])

Chicago     1400.0
New York    1300.0
Portland     750.0
dtype: float64


Austin       750.0
New York    1300.0
dtype: float64


Austin         NaN
Chicago        NaN
New York    2600.0
Portland       NaN
dtype: float64

In [76]:
#return a boolean series indicating  which values aren't null
cities.notnull()

Austin            True
Boston           False
Chicago           True
New York          True
Portland          True
San Francisco     True
dtype: bool

In [77]:
#use boolean logic to grab the NULL cities
print(cities.isnull())
print('\n')
print(cities[cities.isnull()])

Austin           False
Boston            True
Chicago          False
New York         False
Portland         False
San Francisco    False
dtype: bool


Boston   NaN
dtype: float64

In [78]:
#DataFrames

In [79]:
#Reading Dataframes as dictionary

data={'Name': ['akshay','aayush','divyanshi'],
     'Age': [23,22,21],
     }
frame=pd.DataFrame(data,columns=['Name','Age'])
print(frame)
print('------------------------------')
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
football = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])
print(football)

        Name  Age
0     akshay   23
1     aayush   22
2  divyanshi   21
------------------------------
   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [80]:
#Read Data From CSV
from_csv = pd.read_csv('D:/My Data/python/Jupyter/a.csv')
from_csv.head()

FileNotFoundError: File b'D:/My Data/python/Jupyter/a.csv' does not exist

In [ ]:
print(from_csv['Year'].head())

In [ ]:
print(from_csv.info())

In [ ]:
from_csv.dtypes

In [ ]:
from_csv.describe()

In [ ]:
from_csv[0:2]

In [ ]:
cols = ['num', 'game', 'date', 'team', 'home_away', 'opponent',
        'result', 'quarter', 'distance', 'receiver', 'score_before',
        'score_after']
no_headers = pd.read_csv('D:/My Data/python/Jupyter/b.csv', sep=',', header=None,
                         names=cols)
no_headers.head()

In [ ]:
pip install xlrd

In [ ]:
# this is the DataFrame we created from a dictionary earlier
football.head()

In [ ]:
# since our index on the football DataFrame is meaningless, let's not write it
football.to_excel('football.xlsx', index=False)

In [ ]:
!ls -l *.xlsx

In [ ]:
#Read Data From ClipBoard
hank=pd.read_clipboard()
hank.head()

In [ ]:
from sqlalchemy import create_engine

# Create your engine.
engine = create_engine('sqlite:///:memory:')

In [ ]:
from pandas.io import sql
import sqlite3

conn = sqlite3.connect('D:\DataBackup\a')
query = "SELECT * FROM a WHERE State = 'IN';"

results = sql.read_sql(query, con=conn)
results.head()